@use 'sass:math';
$base-color: #00203e;
$base-bright: #0374ff;
$base-bright-1: #00dfff;
$text-color: #fff;
$text-color-1: rgb(177, 177, 177);
$location-detail-height: 30;
$current-detail-height: 265;
$hourly-detail-height: 155;
$daily-detail-height: 350;
* {
  font-family: 'Ropa Sans', monospace;
}
body {
  margin: 0;
  background-color: $base-color;
  color: $text-color;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
    }
  }
  div.container {
    width: 40%;
    margin: 40px auto;
    @media only screen and (max-width: 600px) {
      width: 90%;
    }
    > section {
      width: 100%;
    }
    > section.search-bar {
      .auto-complete{
        position: relative;
        box-sizing: border-box;
        animation: slide-up 0.6s cubic-bezier(0.2, 0, 0.2, 1);
        img {
          position: absolute;
          &.search {
            transform: translate(25px, 25px);
            @media only screen and (max-width: 600px) {
              transform: translate(15px, 20px);
            }
          }
          &.loading {        
            transform: translate(-55px, 25px) scale(0);
            transition: transform 200ms ease-out;
            @media only screen and (max-width: 600px) {
              transform: translate(-50px, 20px) scale(0);
            }
          }
        }    
        .search-box {
          border: 0;
          background-color: lighten($base-color, 5%);
          padding: 20px 80px;
          border: 1px solid $base-bright;
          color: $text-color;
          font-size: 40px;
          width: 100%;
          box-sizing: border-box;
          @media only screen and (max-width: 600px) {
            font-size: 25px; 
            padding: 20px 60px;
          }
        }
        .option-list{
          border: 1px solid $base-bright;
          border-top:0;  
          position: absolute;
          width: 100%;
          box-sizing: border-box;
          z-index: 100;
          li {
            padding: 20px;
            border-bottom: 1px solid $base-bright;
            &:last-child {
              border-bottom:0;
            }
            &:hover {
              cursor: pointer;
              background-color: lighten($base-color, 10%)
            }
            &.no-matches {
              cursor: not-allowed;
            }
            span {
              color: $text-color-1;
              &:first-child {
                color: lighten($text-color-1, 20%);
                font-size: 20px;;
              }
            }
          }
        }
        &.no-options {
          .option-list {
            display: none;
          }       
        }
        &.is-loading {
          img.loading {
            transform: translate(-55px, 25px) scale(1);
          }        
          @media only screen and (max-width: 600px) {
            img.loading {
              transform: translate(-50px, 20px) scale(1);
            }
          }
        }
      }
  
      .location-details {
        margin: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: $location-detail-height * 1px;
            
        > div {
          span {
            color: $text-color-1;
            margin: 0 10px;
          }
        }
      }
    
    }

    .unit-converter > div {
      display: flex;
      justify-content: flex-end;
      margin: 20px 0;
          
      button {
        background-color: lighten($base-color, 5%);
        padding: 0;
        border: 1px solid $base-bright;
        font-size: 20px;
        color: $text-color;
        padding: 10px;
        width: 100px;
        cursor: pointer;
        box-shadow: 0px 0px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
        &.selected {
          background-color: lighten($base-color, 15%);
        }
        &:hover {
          background-color: lighten($base-color, 10%);
        }
        &:first-child {
          border-right: 0;
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
        }
        &:last-child {
          border-left: 0;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
    }

    .current-weather-day-details {
      display: flex;
      z-index: -1;
      height: $current-detail-height * 1px;
      opacity: 0;
      transform: translateX(10%) scale(.9);
      pointer-events: none;
      @media only screen and (max-width: 600px) {
        flex-wrap: wrap;
      }
      article {
        background: lighten($base-color, 5%);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 3px 0px $base-bright;
        width: 100%;
        @media only screen and (max-width: 600px) {
          flex-wrap: wrap;
        }
        
        .weather_graphic{
          padding: 20px;
          .weather_condition {
            text-align: center;
          }
        }
        .weather_info {
          flex-grow: 3;
          padding: 20px;
          h1 {
            font-size: 75px;
            margin: 0;
            color: $base-bright-1;
          }
        }
        .additional-info {
          flex-grow: 1;
          background-color: darken($base-color, 1%);
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          @media only screen and (max-width: 600px) {
            flex-direction: revert;
            height: 100px;
            justify-content: space-evenly;
          }
          > div {
            display: flex;
            justify-content: center;
            align-items: center;
            > span {
              width: 50%;
            }
          }
        }
      }
    }

    .alerts {
      margin-top: 20px;
      
      article {
        background: #784545;
        border: 2px dashed #f85454;
        padding: 20px;
        border-radius: 5px;
        > * {
          margin-bottom: 10px;
          margin-top: 0;
          &:last-child {
            margin-bottom: 0;
          }
        }
        .sender {
          color: $text-color-1;
        }
        .dates {
          color: darken($text-color, 20%);
          font-style: italic;
        }
        .tag {
          background-color: $base-bright;
          padding: 5px;
          border: 2px solid $base-color;
          border-radius: 5px;
        }
      }
    }

    .weather-hourly {
      margin-top: 20px;
      display: flex;
      justify-content: flex-start;
      overflow: scroll;
      
      height: $hourly-detail-height * 1px;
      @media only screen and (max-width: 600px) {
        height: ($hourly-detail-height - 35) * 1px;
      }
      .hourly {
        margin: 0 10px;
        > div {
          font-size: 20px;
          text-align: center;
        }
        .time {
          color: $text-color-1;
          margin-bottom: 5px;
        }
        @media only screen and (max-width: 600px) {
          .time {
            font-size: 14px;
          }
        }
      }
    }

    .weather-daily {
      margin-top: 20px;
      
      .daily {
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 20px;
        border-bottom: 1px solid $base-bright;
        height:  math.div($daily-detail-height, 7) * 1px;
        .day {
          flex-grow: 1;
        }
        .icon, .temp {
          width: 10%;
          text-align: center;
           @media only screen and (max-width: 600px) {
            width: 20%;
          }
          &.high {
            color: $base-bright-1;
          }
          &.low {
            color: $text-color;
          }
        }
      }
    }

    .alerts, .weather-hourly, .weather-daily, .location-details, .unit-converter {
      transform: translateX(10%);
      opacity: 0;
    }
    
  }
}


@keyframes show-details {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}


@keyframes slide-up {
  from {
      opacity: 0;
      transform: translateY(25%);
  }
  to {
      opacity: 1;
      transform: none;
  }
}